Task03/Mini Project  Session 3.pdf
Task06/assignment_description.pdf
Task06/BETA_A Large Benchmark Database Toward SSVEP-BCI Application.pdf
Task07/assignment7.pdf
Task07/Prject_Neu.ipynb
Task08/assignment 8.pdf
Task09/assignment9.pdf
Task10/assignment10.pdf
Task06/ssvep_data_assignment.rar
Task06/ssvep_data_assignment.mat
Task09/EEG DATA.rar
