Task3/Mini Project  Session 3.pdf
Task6/assignment_description.pdf
Task6/BETA_A Large Benchmark Database Toward SSVEP-BCI Application.pdf
Task7/assignment7.pdf
Task7/Prject_Neu.ipynb
Task8/assignment 8.pdf
Task9/assignment9.pdf
Task10/assignment10.pdf
Task6/ssvep_data_assignment.rar
Task6/ssvep_data_assignment.mat
Task9/EEG DATA.rar